/*********************************
 FONTS
 ********************************/

h1, h2, h3, h4, h5, h6, input, form, nav, p, ol, ul, li {
    font-family: arial, serif;
}

/** NOTE: ALL COLORS GRABBED FROM GOOGLE SITE **/


/*********************************
 MAIN DIVISION
 ********************************/

 /* MAIN CONTAINER */
.main {
    display: block;
    Height: 1000px;
    margin: 30px;
    position: relative;
    /*background: lightgray;*/
}

/*********************************
 SEARCH FORM + BUTTONS + IMG
 ********************************/

/* Centers search bar inside .main, pushes search bar + img slightly up */
.main form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -99%);


}
/* Proper sizing and spacing of google logo image */
form img {
    height: 240px;
    width: auto;
    margin-bottom: 24px;
}

/* All input elements are now centered and stacked */
form input {
    display: block;
    clear: both;
    margin: 0 auto;
}
/* Search Bar */
form .text {
    width: 400px;
    height: 40px;
    border: 2px solid blue
    text-align: center;
    margin-bottom: 12px;
}


/* Submit Buttons */

/* center the two buttons via text-align. This works due to their display property
being "inline" */
.searchbar {
    text-align: center;
}
/* submit buttons inline, white, hidden border, bolded */
form .submit {
    display: inline;
    background: white;
    border: 1px solid white;
    font-weight: bold;
    padding: 10px 12px;
    margin: 0 4px;
    color: #757575;

}
/* hover effects on buttons */
form .submit:hover {
    color: black;
    border: 1px solid #c6c6c6;
    background: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;

    
}

/*********************************
 NAVIGATION
 ********************************/

/* Adds space around nav elements */
.navigation {
    padding: 20px 0;
}

/* Turns navigation elements inline and black, padding to each element.
Get rid of list decorations. Font sized. */
 nav li {
    display: inline;
    color: black;
    padding: 10px;
    list-style-type: none;
    font-size: 13px;
    margin-left: 10px;

}

/* Nav bar: hover effects */
nav .left-nav:hover {
    text-decoration: underline;
}

nav .right-nav:hover {
    text-decoration: underline;
}

/* Nav bar: hyperlink effects */
nav li a:link, nav li a:visited {
    color: black;
    text-decoration: none;
}
/* Push Specific nav elements to left */
nav .left-nav {
    float: left;
}
/* Push Specific nav elements to right */
nav .right-nav {
    float: right;

}

/* Profile img */
.navigation .profile {
    background-image: url(https://lh3.googleusercontent.com/-8cW-jQ0zwvc/AAAAAAAAAAI/AAAAAAAAAAA/APUIFaOIbxAWobWZQjj0McvdYCxozaM2ow/s32-c-mo/photo.jpg);
    background-repeat: no-repeat;
    border-radius: 6px;
    visibility: hidden;
}

/*********************************
 FOOTER
 ********************************/
/* Proper footer sizing and border */
 footer {
     height: 40px;
     background: white;
     border-top: 1px solid #e4e4e4;
     padding-bottom: 12px;
 }
/* Text color */
 footer nav li a:link, footer nav li a:visited {
     color: #757575;
 }
/* proper hyperlink config */
nav .left-nav:hover {
    text-decoration: underline;
}

nav .right-nav:hover {
    text-decoration: underline;
}
